---
import { getCollection } from "astro:content";
// 1. Generate a new path for every collection entry
export async function getStaticPaths() {
    const blogEntries = await getCollection("articles");
    return blogEntries.map((entry) => ({
        params: { slug: entry.slug },
        props: { entry },
    }));
}
// 2. For your template, you can get the entry directly from the prop
const { entry } = Astro.props;
const { Content } = await entry.render();
import Prose from "../../components/Prose.astro";
// @ts-expect-error
import { site } from "../../data.yaml";
import Navigation from "../../components/Navigation.astro";
import Article from "../../layouts/Article.astro";
---

<Article title={`${entry.data.title}`} description={`${site.meta.description}`}>
    <h1 class="text-6xl mt-6 text-center">{entry.data.title}</h1>
    <br /><br />
    <Prose>
        <Content />
    </Prose>
</Article>
