<div class="ml-2 mr-2 dropdown dropdown-end bg-secondary text-secondary-content rounded-lg btn btn-ghost rounded-btn  flex justify-content-center justify-center justify-items-center align-items-center text-center">
    <label tabindex="0" class="""><i data-feather="globe"></i></label>
     
    <ul tabindex="0" class="menu dropdown-content p-2 shadow bg-secondary rounded-box w-52 mt-4">
      {% for language in config.languages %}
        <li class="bg-secondary"><a href="/{{language}}{{ page.outputPath | stripRootDir | stripRootDir }}">{{ language }}</a></li> 
      {% endfor %}
    </ul>
</div>