<!--<div class="bg-primary dropdown dropdown-end text-accent-content rounded-base btn btn-ghost flex justify-content-center justify-center justify-items-center align-items-center text-center p-5">-->
<div class="text-accent-content btn btn-square bg-primary glass p-16">
  <!--<label tabindex="0" class=""><i class="material-icons">
    language
  </i></label>-->
  testing123
  <!--<div class="dropdown dropdown-end">
     
    <ul tabindex="0" class="menu dropdown-content p-5 shadow bg-accent rounded-box w-52">
      {% for language in config.languages %}
        <li class="bg-accent"><a href="/{{language}}{{ page.outputPath | stripRootDir | stripRootDir }}">{{ language }}</a></li> 
      {% endfor %}
    </ul>
  </div>-->
</div>