<footer class="footer columns-3 items-center p-4 bg-neutral text-neutral-content w-fill relative items-center ">
    <div class="items-center grid-flow-col">
      <!--<img class="h-8 w-8" src="/assets/favicon.ico"/>--> <p>Copyright © 2022 &middot; All rights reserved</p>
    </div> 
    <div class="grid-flow-col items-center place-self-center">
      We use <a href="https://microanalytics.io/">microanalytics.io</a> for privacy-friendly website analytics.
    </div>
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <div class="right-0">
        Photo by <a href="https://unsplash.com/@joannakosinska?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joanna Kosinska</a> on <a href="https://unsplash.com/@joannakosinska?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a>
        <br>
        <a href="https://github.com/feathericons/feather" title="webpage icons">Icons by open source contributers from feather-icons</a>
        <br>
        {% for section in site.sections %}
        Subsection {{ forloop.index }}: {{ section.img_attrib }}<br>
        {% endfor  %}
      </div>
    </div>
</footer>