<footer class="footer items-center p-4 bg-neutral text-neutral-content w-fill relative">
    <div class="items-center grid-flow-col">
      <img class="h-8 w-8" src="/assets/favicon.ico"/> <p>Copyright © 2022 &middot; All right reserved</p>
    </div> 
    <div class="grid-flow-col gap-4 md:place-self-center md:justify-self-end">
      <div class="right-0">Photo by <a href="https://unsplash.com/@joannakosinska?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Joanna Kosinska</a> on <a href="https://unsplash.com/@joannakosinska?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></div>
   </div>
</footer>