<header>
<nav class="navbar z-10 bg-primary sticky top-0">
    <div class="flex-none">
        <a href="index.html">
            <div class="p-2 rounded-md  bg-primary">
              <img class="h-10 w-10" src="/assets/favicon.ico" />
            </div>
        </a>
    </div>
    <div class="flex-1">
        <a href="index.html" class="ml-5 normal-case text-2xl text-primary-content">{{ site.title }}</a>
    </div>
    <a href="#{{ site.cta.id }}" class="btn btn-success ml-5 text-success-content">{{ site.cta.text }}</a>
</nav>
</header>