---
layout: layout/base
---
<div
class="hero min-h-screen relative"
style="background-image: url(https://images.unsplash.com/photo-1497942304796-b8bc2cc898f3?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1200);">
<div class="hero-overlay bg-primary bg-opacity-40 rounded-b-7"></div>
<div class="absolute top-0 left-0 right-0 w-full">
{% include "partials/components/header.html" %}
</div>

<div class="custom-shape-divider-bottom-1667647108">
  <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
      <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
      <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
      <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
  </svg>
</div>

<div class="hero-content absolute text-neutral min-h-fit p-8">
  <div class="max-w-none p-5 rounded-md">
    <h1 class="font-manrope text-4xl font-extrabold my-8 py-4 text-center max-md:text-2xl max-md:my-2">{{ site.slogan }}</h1>
    <p class="font-manrope text-4xl font-[450] text-justify tracking-tight max-md:text-xl">{{ site.short }}</p>
    <div class="mt-8 max-md:mt-4 text-center"><a href="{{ site.cta.href }}"><button type="button" class="btn btn-accent text-accent-content text-xl px-24 max-md:text-lg max-md:px-0 max-md:w-full">{{ site.cta.text }}</button></a></div>
  </div>
</div>
</div>

<!-- MAIN SECTIONS -->

<div class="pb-5 bg-neutral text-neutral-content content-center p-4 py-16 mx-auto md:p-10 md:pb-5">

<h1 id="{{ site.cta.id }}" class="text-5xl antialiased font-semibold leading-none text-center mb-6">{{ site.sections_header }}</h1>
<div class="flex flex-row flex-wrap content-center justify-around">
{% for section in site.sections %}
<div class="flex justify-center p-8 my-4 grow-0 shrink max-md:p-2">
  <div class="flex flex-col md:flex-row md:max-w-xl rounded-lg bg-base-100 shadow-lg">
    <img class=" w-full h-96 md:h-auto object-cover md:w-48 rounded-t-lg md:rounded-none md:rounded-l-lg" src="{{section.img}}" alt="" />
    <div class="p-8 flex flex-col justify-between">
      <div class="flex-auto text-justify tracking-tight flex-wrap">
      <h5 class="text-gray-900 text-2xl font-bold mb-2 text-left">{{ section.title }}</h5>
      {% for par in section.paragraphs %}
      <p class="text-gray-700 text-base mb-4 text-xl">{{ par }}</p>
      {% endfor  %}
      <p>
      </div>
      <a class="" href="{{ site.cta.href }}"><div class="btn btn-accent w-[100%]">{{ site.cta.text }}</div></a>
      </p>
    </div>
  </div>
</div>
{% endfor %}

</div>
</div>
<!-- CONTACT SECTION -->

<div class="custom-shape-divider-bottom-1667649049 ">
    <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
        <path d="M0,0V46.29c47.79,22.2,103.59,32.17,158,28,70.36-5.37,136.33-33.31,206.8-37.5C438.64,32.43,512.34,53.67,583,72.05c69.27,18,138.3,24.88,209.4,13.08,36.15-6,69.85-17.84,104.45-29.34C989.49,25,1113-14.29,1200,52.47V0Z" opacity=".25" class="shape-fill"></path>
        <path d="M0,0V15.81C13,36.92,27.64,56.86,47.69,72.05,99.41,111.27,165,111,224.58,91.58c31.15-10.15,60.09-26.07,89.67-39.8,40.92-19,84.73-46,130.83-49.67,36.26-2.85,70.9,9.42,98.6,31.56,31.77,25.39,62.32,62,103.63,73,40.44,10.79,81.35-6.69,119.13-24.28s75.16-39,116.92-43.05c59.73-5.85,113.28,22.88,168.9,38.84,30.2,8.66,59,6.17,87.09-7.5,22.43-10.89,48-26.93,60.65-49.24V0Z" opacity=".5" class="shape-fill"></path>
        <path d="M0,0V5.63C149.93,59,314.09,71.32,475.83,42.57c43-7.64,84.23-20.12,127.61-26.46,59-8.63,112.48,12.24,165.56,35.4C827.93,77.22,886,95.24,951.2,90c86.53-7,172.46-45.71,248.8-84.81V0Z" class="shape-fill"></path>
    </svg>
</div>

<div class="w-full bg-accent text-base-100" >
  
  <div class="container flex flex-col flex-wrap content-center justify-center p-4 py-20 mx-auto md:p-10">
      <h1 id="{{ site.cta.id }}" class="text-5xl antialiased font-semibold leading-none text-center">{{ site.contact.text }}</h1>
      <p class="pt-2 pb-8 text-xl antialiased text-center">{{ site.contact.desc }}</p>
      <a class="p-2 rounded-lg text-center text-base-100 border-solid border-2 border-base-100 hover:bg-base-100 hover:text-accent hover:border-base-100" href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a>
    </div>
</div>