---
layout: layout/base
---

<div
class="hero min-h-screen relative"
style="background-image: url(https://images.unsplash.com/photo-1497942304796-b8bc2cc898f3?ixlib=rb-1.2.1&q=85&fm=jpg&crop=entropy&cs=srgb&w=1200);">

<div class="hero-overlay bg-opacity-50"></div>

<div class="hero-content absolute left-0 lg:ml-24 lg:mr-24 text-neutral-content min-h-fit">
  <div class="max-w-none p-5 rounded-md">
    <h1 class="mb-5 text-5xl md:text-7xl font-bold">{{ site.slogan }}</h1>
    <p class="mb-5 text-xl md:text-4xl">{{ site.short }}</p>
  </div>
</div>

</div>

<hr>

<div class="bg-primary text-primary-content flex flex-col flex-wrap content-center justify-center p-4 py-20 mx-auto md:p-10">
  <h2 class="text-5xl antialiased font-semibold leading-none text-center p-2">{{ site.sections[0].title }}</h2>
  <div class="text-xl text-justify">
    {% for par in site.sections[0].paragraphs %}
      <p>{{ par }}</p>
      <br>
    {% endfor  %}

   
  </div>
  <a href="{{ site.cta.href }}" class="text-xl p-3 rounded-lg antialiased leading-none text-center bg-secondary text-secondary-content hover:bg-neutral hover:text-neutral-content">
  {{ site.cta.text }}
  </a>
</div>

<hr>

<div class="w-full bg-secondary text-secondary-content" >
    <div class="container flex flex-col flex-wrap content-center justify-center p-4 py-20 mx-auto md:p-10">
      <h1 id="{{ site.cta.id }}" class="text-5xl antialiased font-semibold leading-none text-center">{{ site.contact.text }}</h1>
      <p class="pt-2 pb-8 text-xl antialiased text-center">{{ site.contact.desc }}</p>
      <a class="p-2 rounded-lg text-center text-secondary-content border-solid border-2 border-secondary-content hover:bg-neutral hover:text-neutral-content hover:border-neutral" href="mailto:{{ site.contact.mail }}">{{ site.contact.mail }}</a>
    </div>
</div>

<hr>