---
layout: layout/base
---
<div class="block bg-primary">
  {% include "partials/components/header.html" %}
</div>
<div class="pb-5 bg-neutral text-neutral-content content-center p-4 py-16 mx-auto md:p-10 md:pb-5">
    <div class=""><p>&nbsp;</p></div>
    {{ content }}
</div>

<style>
    /* Partially reimplement Default styles stripped by tailwind */
    
    h1 {
        display: block;
        font-size: 2em;
        margin-top: 0.67em;
        margin-bottom: 0.67em;
        margin-left: 0;
        margin-right: 0;
        font-weight: bold;
      }
    
    p {
          display: block;
          margin-top: 1em;
          margin-bottom: 1em;
          margin-left: 0;
          margin-right: 0;
        }    
</style>