---
// @ts-expect-error
import { site } from "../data.yaml";

const { text = site.contact.text, desc = site.contact.desc, instagram=site.contact.instagram} = Astro.props;
---
<div id="contact" class="w-full bg-accent text-accent-content my-0" >
  
    <div class="container flex flex-col flex-wrap content-center justify-center p-4 py-20 mx-auto md:p-10">
        <h1 class="text-5xl antialiased font-semibold leading-none text-center" set:html={text}></h1>
        <p class="pt-2 pb-8 text-xl antialiased text-center" set:html={desc}></p>
        <a class="p-2 rounded-lg text-center border-solid border-2 border-accent-content hover:bg-base-100 hover:text-accent-content hover:border-base-100" href={`https://www.instagram.com/${instagram}`} target="_blank">#{instagram}</a>
      </div>
  </div>