---
// @ts-expect-error
import { site } from "../data.yaml";

// Links extrahieren
const instagram_link = site?.socials?.instagram || "http://instagram.com";
const roadmap_link = site?.roadmap?.href || "https://trello.com";
const feature_requests_link = site?.feedback?.href || "https://sleekplan.app";

interface Element {
  title: string;
  text: string;
}

interface Props {
  elements?: Element[];
}

// Texte aus der YAML laden und die Link-Platzhalter dynamisch ersetzen
const yamlElements: Element[] = [
  {
    title: site?.early_access?.title || "Early Access",
    text: (site?.early_access?.text || "").replace("%INSTAGRAM_LINK%", instagram_link)
  },
  {
    title: site?.roadmap_section?.title || "Roadmap",
    text: (site?.roadmap_section?.text || "").replace("%ROADMAP_LINK%", roadmap_link)
  },
  {
    title: site?.feedback_section?.title || "Feedback & Vorschläge",
    text: (site?.feedback_section?.text || "").replace("%FEEDBACK_LINK%", feature_requests_link)
  }
];

// Wenn Props übergeben wurden, nutze diese, andernfalls die Daten aus der YAML
const { elements = yamlElements } = Astro.props;
---

<div class="bg-neutral pb-24 text-neutral-content">
  <a href="#opendev">
    <h1 id="opendev" class="text-4xl antialiased font-semibold leading-none text-center mb-24">
      Early Access und Roadmap
    </h1>
  </a>
  <div class="text-xl text-center mb-12 max-w-4xl mx-auto px-4">
    Ihre Teilnahme am Early Access-Programm ermöglicht es uns, Conshelv kontinuierlich zu verbessern und an Ihre Bedürfnisse anzupassen, während wir wertvolles Feedback sammeln. Neueste Informationen finden Sie im <a href="/articles" class="text-blue-500 hover:underline">Development Blog</a>.
  </div>
  <div class="px-6 md:px-12 xl:px-32 bg-neutral pb-24 w-full flex flex-col lg:flex-row justify-center items-start gap-y-4 gap-x-12">
    {
      elements.map(({ title, text }) => (
        <div tabindex="0" class="collapse collapse-arrow border border-base-300 bg-base-100 rounded-box w-full text-center text-base-content">
          <input type="checkbox" />
          <div class="collapse-title text-xl font-medium">{title}</div>
          <div class="collapse-content">
            <div class="text-base" set:html={text} />
          </div>
        </div>
      ))
    }
  </div>
</div>
