---
import "../style.css";
export interface Props {
  title: string;
  description: string;
}

const { title, description } = Astro.props;
// @ts-expect-error
import { site } from "../data.yaml";
import Footer from "../components/Footer.astro";
import Cookie from "../components/cookie.astro";
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <meta name="robots" content="noindex" />
    <link rel="icon" type="image/svg+xml" href="/icon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
    <meta name="description" content={`${description}`} />
    <script is:inline src="https://identity.netlify.com/v1/netlify-identity-widget.js"
    ></script>
  </head>
  <body>
    <Cookie />
    <slot />
    <Footer
      imgs={// @ts-expect-error
      site.sections.map((section, index) => ({
        label: "Section " + (index + 1),
        attrib: section.img_attrib,
      }))}
    />
    <script>
      // @ts-expect-error
      if (window.netlifyIdentity) {
        // @ts-expect-error
        window.netlifyIdentity.on("init", (user) => {
          if (!user) {
            // @ts-expect-error
            window.netlifyIdentity.on("login", () => {
              document.location.href = "/admin/";
            });
          }
        });
      }
    </script>
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
