---
import "../style.css";
export interface Props {
  title: string;
}

const { title } = Astro.props;
// @ts-expect-error
import { site } from "../data.yaml";
import Footer from "../components/Footer.astro";
---

<!DOCTYPE html>
<html lang="de" class="scroll-smooth">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="generator" content={Astro.generator} />
    <title>{title}</title>
	<script type="text/partytown">
		// Define dataLayer and the gtag function.
		window.dataLayer = window.dataLayer || [];
		function gtag(){dataLayer.push(arguments);}
		
		// Default ad_storage to 'denied' as a placeholder
		// Determine actual values based on your own requirements
		gtag('consent', 'default', {
  'ad_storage': 'denied',
  'analytics_storage': 'denied'
});
	</script>
    <script
      type="text/partytown"
      src="https://www.googletagmanager.com/gtag/js?id=G-2KXXHX04HJ"
    ></script>
    <script type="text/partytown">
	  //window['ga-disable-MEASUREMENT_ID'] = true;
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag("js", new Date());
      gtag("config", "G-2KXXHX04HJ");
    </script>
	<!-- Update this section based on your business requirements. -->
<script type="text/partytown">
	function consentGranted() {
	  gtag('consent', 'update', {
		'ad_storage': 'granted',
		'analytics_storage': 'denied'
	  });
	}
  </script>
  </head>
  <body>
    <slot />
    <Footer
      imgs={// @ts-expect-error
      site.sections.map((section, index) => ({
        label: "Section " + (index + 1),
        attrib: section.img_attrib,
      }))}
    />
  </body>
</html>
<style is:global>
  :root {
    --accent: 124, 58, 237;
    --accent-gradient: linear-gradient(
      45deg,
      rgb(var(--accent)),
      #da62c4 30%,
      white 60%
    );
  }
  html {
    font-family: system-ui, sans-serif;
    background-color: #f6f6f6;
  }
  code {
    font-family: Menlo, Monaco, Lucida Console, Liberation Mono,
      DejaVu Sans Mono, Bitstream Vera Sans Mono, Courier New, monospace;
  }
</style>
