<nav class="navbar z-10 bg-neutral fixed top-0">
    <div class="flex-none w-10">
        <a href="index.html">
            <img src="/favicon.ico"/>
        </a>
    </div>
    <div class="flex-1">
        <a href="index.html" class="ml-5 normal-case text-2xl">{{ site.title }}</a>
    </div>
    {%- for section in collections.section -%}
      <div class="mr-5">{{ section.fileSlug }}</div>
    {%- endfor -%}
</nav>