<div class="navbar bg-gradient-to-r from-[rgba(255,255,255,0.25)] via-transparent to-transparent">
    <div class="flex-none w-10">
        <a href="index.html">
            <img src="/favicon.ico"/>
        </a>
    </div>
    <div class="flex-1">
        <a href="index.html" class="ml-5 normal-case text-2xl">{{ site.title }}</a>
    </div>
</div>